@media (max-width: 576px) {
    body {
        font-size: smaller;
    }

    header {
        font-size: smaller;
        background-color: #8BDBDF;
        padding: 20px;
        align-items: center;
    }

    main {
        background-color: #effffd;
        padding: 0px;
        margin-top: 40px;
        font-size: 17px;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .hero {
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
        height: 100%;
    }

    .news {
        grid-area: 4 / 1 / 5 / 2;
        width: 100%;
        height: 100%;
    }

    .event {
        grid-area: 2 / 1 / 3 / 2;
        width: 100%;
        height: 100%;
    }

    .weather {
        grid-area: 3 / 1 / 3 / 2;
        width: 100%;
        height: 100%;
    }

    .join {
        grid-area: 6 / 1 / 7 / 2;
        width: 100%;
        height: 100%;
    }

    .spotlight {
        grid-area: 5 / 1 / 6 / 2;
        width: 100%;
        height: 100%;
    }
}