body {
    font-size: smaller;
}

main {
    background-color: #effffd;
    padding: 10px;
    margin-top: 40px;
    font-size: 17px;
}

main img {
    box-shadow: 5px 5px 5px #999;
}

footer p {
    text-align: center;
}

header {
    font-size: smaller;
    display: flex;
    flex-direction: column;
    background-color: #8BDBDF;
    padding: 20px;
    align-items: center;
}

header h1 {
    grid-column: 2;
    grid-row: 1;
    padding: 20px;
}

header nav {
    grid-column: 2/4;
    grid-row: 2;
}

header img {
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
    border-radius: 150px;
    max-width: 200px;
}


nav li {
    color: #2155CD;
    flex: 1 1 auto;
}

nav a {
    color: #2155CD;
    cursor: pointer;
    text-decoration: none;
    display: flex;
	flex-direction: column;
    padding: 10px;
    font-size: 25px;
}

nav ul :hover {
    text-decoration-line: blink;
}

footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 auto;
}